header {background-color: #e5e5e5;
text-align: center;
padding-top: 20px;
line-height: 150%;
}
h1{background-color: #c4c4c4;
    color: #005677;
font-family: 'Times New Roman', Times, serif;
font-weight: 1013px; 
font-style: bold;
font-size: 35px;
text-align: center;
padding: 15px;
line-height: 40%;
letter-spacing: 10px;}
h2 {background-color: #C4C4C4;
font-family: 'Times New Roman', Times, serif;
font-style: Bold;
font-size: 20px;
line-height: 30px;
line-height: 150%;
vertical-align: top;
color: #005677;
letter-spacing: 2px;}

footer{background-color: #005677;
font-family: 'Times New Roman', Times, serif;
font-style: Bold;
font-size: 20px;
line-height: 17px;
line-height: 200%;
text-align: center;
color: white;
}
main{max-width: 1020px;
margin-top: 50px;
margin-left: 480px;
margin-bottom: 120px;}
article{font-size: 15px;
line-height: 15px;
line-height: 100%;
}