*{font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;}
header{background-color: rgba(34, 34, 34, 1);
color: rgba(243, 243, 243, 1);
display: flex;
align-content: center;
flex-wrap: wrap;
justify-content: space-between;}
header a{color: rgba(243, 243, 243, 1);}
#Logo{font-size: 24px;
    display: flex;
align-content: space-between;
align-items: center;}
#pi{color: green;}
#Front{color: red;}
#Nav{display: flex;
flex-direction: row;}
#Nav a{justify-content: center;}



